 @model MVCKalkulacka.Models.Kalkulacka

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<h1>Index</h1>

<h4>
    Kalkulacka
    @if (ViewBag.Jmeno != null) {
        <text> pro @ViewBag.Jmeno</text>
    }
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cislo1" class="control-label"></label>
                <input asp-for="Cislo1" class="form-control" />
                <span asp-validation-for="Cislo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cislo2" class="control-label"></label>
                <input asp-for="Cislo2" class="form-control" />
                <span asp-validation-for="Cislo2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Operace" class="control-label"></label>
                <br />
                @Html.DropDownListFor(model => model.Operace, new SelectList(Model.MozneOperace, "Value", "Text"))
                <span asp-validation-for="Operace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <p style="font-size: 2em;">@Model.Vysledek</p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
